.events-container {
  width: 60%;
  margin: auto;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  padding: 25px;
  background-color: #f0f8ff;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.heading {
  color: #1a374d;
  font-size: 26px;
  margin-bottom: 30px;
}

.event-list {
  list-style-type: none;
  padding: 0;
}

.event-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 25px;
  margin: 15px 0;
  background-color: #ffffff;
  border: 2px solid #a7c4dd;
  border-radius: 10px;
  transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
}

.event-item:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
  background-color: #f8f9fc;
}

.button-group {
  display: flex;
  gap: 10px;
}

.edit-button,
.delete-button,
.add-button {
  padding: 8px 15px;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease-in-out;
}

.edit-button {
  color: white;
}

.edit-button:hover {
  transform: scale(1.1);
}

.delete-button {
  background-color: #d32f2f;
  color: white;
}

.delete-button:hover {
  background-color: #d32f2f;
  box-shadow: 0 6px 10px rgba(235, 77, 75, 0.4);
  transform: scale(1.1);
}

.add-button {
  margin-top: 25px;
  padding: 12px 25px;
  background-color: #019194;
  color: white;
  font-size: 16px;
  font-weight: bold;
}

.add-button:hover {
  background-color: #2c3e50;
  box-shadow: 0 6px 10px rgba(55, 90, 127, 0.4);
  transform: scale(1.1);
}

.event-link {
  font-size: 20px;
  font-weight: bold;
  color: #2b6cb0;
  text-decoration: none;
  padding: 8px 12px;
  border-radius: 5px;
  background-color: #f0f4f8;
  transition: all 0.3s ease-in-out;
}

.event-link:hover {
  background-color: #e0e7ff;
  color: #2b6cb0;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}